<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Mazina41Entities" connectionString="metadata=res://*/Mazina.csdl|res://*/Mazina.ssdl|res://*/Mazina.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-51I083C\SQLEXPRESS;initial catalog=Mazina41;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>